{% extends 'core/base.html' %}
{% block title %}Parts{% endblock %}
{% block background %}{{ theme.body }}{% endblock %}
{% block nav %}{{ theme.nav }}{% endblock %}
{% block hover1 %}{{ theme.hover }}{% endblock %}
{% block hover2 %}{{ theme.hover }}{% endblock %}
{% block hover3 %}{{ theme.hover }}{% endblock %}
{% block hover4 %}{{ theme.hover }}{% endblock %}
{% block hover5 %}{{ theme.hover }}{% endblock %}
{% block hover6 %}{{ theme.hover }}{% endblock %}
{% block hover7 %}{{ theme.hover }}{% endblock %}
{% block body %}
<div class=" mx-auto py-12">
    <div class="text-4xl lg:text-7xl text-center font-bold mt-20 ">The home for all parts.</div>
    <p class="text-center py-6">Search through parts that are saved.</p>
</div>

<div class="min-[1040px]:container mx-auto my-4">
    <form action="{% url 'parts:index' %}" method="post" class="text-center">
        {% csrf_token %}
        <div class="w-10/12 flex mx-auto">
            <input type="text" name="part_name" placeholder="Search with a part name or category" autofocus autocomplete="off" class="w-full py-3 pl-6 pr-40 rounded-full text-black outline-none">
            <button type="submit" name="search" class="-ml-20 shadow bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 focus:shadow-outline focus:outline-none text-white py-3 px-5 rounded-r-full transition ease-in-out delay-150">Search</button>
        </div>
        {% if search %}
        <div class="mt-16 mb-28">
            <p class="text-rose-600 text-sm text-center font-bold" type="submit">{{ search }}</p>
        </div>
        {% endif %}
    </form>
</div>

{% if parts %}
<div class="min-[1040px]:container mx-auto my-8 lg:rounded-lg overflow-hidden {% if theme.mode == 'Light' %} bg-slate-200 {% else %} bg-zinc-800 {% endif %}">
    <table class="w-full">
        <thead class="text-sm uppercase m-auto {% if theme.mode == 'Light' %} bg-slate-400 {% else %} bg-zinc-600 {% endif %} ">
            <tr>
                <td class="px-6 py-3 text-center">Part name</td>
                <td class="px-6 py-3 text-center">Category</td>
                <td class="px-6 py-3 text-center">Price</td>
                <td class="px-6 py-3 text-center">User</td>
            </tr>
        </thead>
        <tbody>
            {% for part in parts %}
            <tr>
                <td class="px-6 py-3 text-center">{{ part.partname }}</td>
                <td class="px-6 py-3 text-center">{{ part.category }}</td>
                <td class="px-6 py-3 text-center">{{ part.usd }}</td>
                <td class="px-6 py-3 text-center">{{ part.user }}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>
{% endif %}

{% if part_count %}
<div class="container mx-auto text-center my-20">
    <div class="text-lg md:text-2xl px-2">
        There is currently <span class="text-rose-600 md:text-3xl">{{ part_count }}</span> different parts with <span class="text-rose-600 md:text-3xl">{{ category_count }}</span> different categories.
    </div>
</div>
{% endif %}




<div class="full mx-auto py-8 sm:py-16 {% if theme.mode == 'Dark' %} bg-zinc-800 drop-shadow-md {% else %} bg-slate-400 drop-shadow-md {% endif %}" >
    <div class="block text-3xl sm:text-4xl text-center font-bold py-2">Things you can do:</div>
    <div class="w-10/12 lg:w-full sm:pt-12 lg:py-8 min-[1040px]:container mx-auto">
        <div class="block w-full lg:flex lg:flex-row lg:space-x-6 2xl:space-x-14">
            <a href="{% url 'inventory:edit' %}" class="block basis-1/2 h-72 my-8 lg:my-0 lg:rounded-xl 2xl:h-80 transition ease-in-out {% if theme.mode == 'Dark' %} bg-zinc-900 hover:bg-zinc-700 drop-shadow-md {% else %} bg-slate-300 hover:bg-slate-200 drop-shadow-md {% endif %}">
                <div class="flex h-full">
                    <div class="m-auto capitalize text-2xl lg:text-3xl font-semibold p-8">Add parts.</div>
                </div>
            </a>
            
            <a href="{% url 'inventory:index' %}" class="block basis-1/2 h-72 my-8 lg:my-0 lg:rounded-xl 2xl:h-80 transition ease-in-out {% if theme.mode == 'Dark' %} bg-zinc-900 hover:bg-zinc-700 drop-shadow-md {% else %} bg-slate-300 hover:bg-slate-200 drop-shadow-md {% endif %}">
                <div class="flex h-full">
                    <div class="m-auto capitalize text-2xl lg:text-3xl font-semibold p-8">Edit parts.</div>
                </div>
            </a>
        </div>
    </div>
</div>


{% endblock %}