{% extends 'core/base.html' %}
{% block title %}Log In{% endblock %}
{% block background %}{{ theme.body }}{% endblock %}
{% block nav %}{{ theme.nav }}{% endblock %}
{% block nobody %}
<div class="flex h-full px-6">
    <div class="m-auto">
        <form method="post" action="{% url 'core:login' %}" class="bg-white shadow-md rounded px-16 pt-16 pb-16 mb-4">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Username" name="username" autofocus autocomplete="off">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Password</label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Password" name="password" autocomplete="off">
            </div>
            <div class="pt-2 mb-4">
                <button class="block shadow bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded transition ease-in-out delay-150" type="submit">Sign In</button>
                <a href="{% url 'core:signup' %}" class="block font-bold text-sm text-zinc-400 hover:text-zinc-500 pt-4 transition ease-in-out">Don't have an account?</a>
            </div>
            {% if fail %}
            <div class="block">
                <p class="text-rose-600 text-sm font-bold mt-4" type="submit">{{ fail }}</p>
            </div>
            {% elif success %}
            <div class="block">
                <p class="text-emerald-500 text-sm font-bold mt-4" type="submit">{{ success }}</p>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}