{% extends 'core/base.html' %}
{% block title %}Create{% endblock %}
{% block background %}{{ theme.body }}{% endblock %}
{% block nav %}{{ theme.nav }}{% endblock %}
{% block hover1 %}{{ theme.hover }}{% endblock %}
{% block hover2 %}{{ theme.hover }}{% endblock %}
{% block hover3 %}{{ theme.hover }}{% endblock %}
{% block hover4 %}{{ theme.hover }}{% endblock %}
{% block hover5 %}{{ theme.hover }}{% endblock %}
{% block hover6 %}{{ theme.hover }}{% endblock %}
{% block hover7 %}{{ theme.hover }}{% endblock %}
{% block body %}
<div class="max-sm:w-3/4 mx-auto py-16">
    <div class="text-4xl text-center font-bold py-2">Create new part.</div>
    <p class="text-center text-sm py-2">Here you are creating a new part and storing its information into the database.</p>
</div>
<div class="max-w-md mx-auto py-8 px-6 box-border">
    <div class=" {% if theme.mode == 'Light' %} bg-slate-200 {% else %} bg-zinc-800 {% endif %} rounded-lg">
        <form action="{% url 'inventory:create' %}" method="post" class="p-16 mx-auto">
            {% csrf_token %}
            <div class="mb-4">
                <label for="part" class="block font-bold text-sm mb-2 ">Part</label>
                <input type="text" placeholder="Part name" autcomplete="off" name="part" autofocus class="py-2 px-3 text-gray-700 w-full shadow appearance-none border leading-tight rounded focus:outline-none">
            </div>
            
            <div class="mb-4">
                <label for="category" class="block font-bold text-sm mb-2 ">Category</label>
                <input type="text" placeholder="Category" autocomplete="off" name="category" class="py-2 px-3 text-gray-700 w-full shadow appearance-none border leading-tight rounded focus:outline-none">
            </div>
            <div class="mb-4">
                <label for="price" class="block font-bold text-sm mb-2 ">Price</label>
                <input type="text" placeholder="Price" autocomplete="off" name="price" class="py-2 px-3 text-gray-700 w-full shadow appearance-none border leading-tight rounded focus:outline-none">
            </div>
            <div class="mb-4">
                <label for="description" class="block font-bold text-sm mb-2 ">Description</label>
                <input type="text" placeholder="Small description" autocomplete="off" name="description" class="py-2 px-3 text-gray-700 w-full shadow appearance-none border leading-tight rounded focus:outline-none">
            </div>
            <div class="flex justify-center">
                <button type="submit" class="mt-4 w-1/2 shadow bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded transition ease-in-out delay-150">Submit</button>
            </div>
            {% if fail %}
            <div class="block">
                <p class="text-rose-600 text-sm font-bold mt-4" type="submit">{{ fail }}</p>
            </div>
            {% elif success %}
            <div class="block">
                <p class="text-emerald-500 text-sm font-bold mt-4" type="submit">{{ success }}</p>
            </div>
            {% endif %}
            
        </form>
    </div>
</div>

<div class="max-sm:w-10/12 w-3/4 mx-auto py-16">
    <div class="block text-4xl text-center font-bold py-2">Some other options:</div>
</div>

<div class="w-10/12 2xl:w-4/6 mx-auto pt-12 min-[680px]:py-4">
    <div class="block w-full min-[680px]:flex min-[680px]:flex-row min-[680px]:space-x-6 2xl:space-x-14">
        <a href="{% url 'inventory:add' %}" class="block basis-1/2 h-40 my-8 min-[680px]:my-0 lg:h-60 2xl:h-80 {% if theme.mode == 'Dark' %} bg-zinc-800 hover:bg-zinc-700 drop-shadow-sm {% else %} bg-slate-200 hover:bg-slate-400 drop-shadow-sm {% endif %} rounded-md hover:rounded-lg">
            <div class="flex h-full">
                <div class="m-auto text-2xl min-[680px]:text-3xl font-semibold p-8">Add inventory.</div>
            </div>
        </a>
        <a href="{% url 'inventory:checkout' %}" class="block basis-1/2 h-40 my-8 min-[680px]:my-0 lg:h-60 2xl:h-80 {% if theme.mode == 'Dark' %} bg-zinc-800 hover:bg-zinc-700 drop-shadow-sm {% else %} bg-slate-200 hover:bg-slate-400 drop-shadow-sm {% endif %} rounded-md hover:rounded-lg">
            <div class="flex h-full">
                <div class="m-auto text-2xl min-[680px]:text-3xl font-semibold p-8">Checkout items.</div>
            </div>
        </a>
    </div>
</div>
{% endblock %}