{% extends 'core/base.html' %}
{% block title %}Inventory{% endblock %}
{% block background %}{{ theme.body }}{% endblock %}
{% block nav %}{{ theme.nav }}{% endblock %}
{% block hover1 %}{{ theme.hover }}{% endblock %}
{% block hover2 %}{{ theme.hover }}{% endblock %}
{% block hover3 %}{{ theme.hover }}{% endblock %}
{% block hover4 %}{{ theme.hover }}{% endblock %}
{% block hover5 %}{{ theme.hover }}{% endblock %}
{% block hover6 %}{{ theme.hover }}{% endblock %}
{% block body %}
<div class="w-3/4 mx-auto pt-6 sm:pt-16 pb-4">
    <div class="sm:flex sm:justify-between sm:space-x-2 md:space-x-3">
        <button class="py-20 text-3xl sm:text-base m-auto sm:p-4 mt-4 sm:m-0 w-full font-semibold rounded-md {% if theme.mode == 'Light' %} bg-slate-400 hover:bg-slate-300 {% else %} bg-zinc-700 hover:bg-zinc-600 {% endif %}">
            Add Part
        </button>
        <button class="py-20 text-3xl sm:text-base m-auto sm:p-4 mt-4 sm:m-0 w-full font-semibold rounded-md {% if theme.mode == 'Light' %} bg-slate-400 hover:bg-slate-300 {% else %} bg-zinc-700 hover:bg-zinc-600 {% endif %}">
            Add Category
        </button>
        <button class="py-20 text-3xl sm:text-base m-auto sm:p-4 mt-4 sm:m-0 w-full font-semibold rounded-md {% if theme.mode == 'Light' %} bg-slate-400 hover:bg-slate-300 {% else %} bg-zinc-700 hover:bg-zinc-600 {% endif %}">
            Edit
        </button>
        <button class="py-20 text-3xl sm:text-base m-auto sm:p-4 mt-4 sm:m-0 w-full font-semibold rounded-md {% if theme.mode == 'Light' %} bg-slate-400 hover:bg-slate-300 {% else %} bg-zinc-700 hover:bg-zinc-600 {% endif %}">
            Search
        </button>
    </div>
</div>
<section class="hidden sm:block w-3/4 mx-auto box-border">
    <div class="{% if theme.mode == 'Light' %} bg-slate-200 {% else %} bg-zinc-800 {% endif %} rounded-lg">
        <div class="relative shadow-md">
            <div class="overflow-x-auto rounded-lg">
                <table class="w-full text-sm text-left">
                    <thead class="text-xs uppercase m-auto {% if theme.mode == 'Light' %} bg-slate-400 {% else %} bg-zinc-700 {% endif %} ">
                        <tr class="{% if theme.mode == 'Light' %} border-b border-slate-400 {% else %} border-b border-zinc-600 {% endif %}">
                            <th scope="col" class="px-4 py-3">Product name</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Manufacturer</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3"><span class="sr-only">Actions</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="{% if theme.mode == 'Light' %} border-b border-slate-400 {% else %} border-b border-zinc-600 {% endif %}">
                            <th scope="col" class="px-4 py-3">Product name</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Manufacturer</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3"><span class="sr-only">Actions</span></th>
                        </tr>
                        <tr class="{% if theme.mode == 'Light' %} border-b border-slate-400 {% else %} border-b border-zinc-600 {% endif %}">
                            <th scope="col" class="px-4 py-3">Product name</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Manufacturer</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3"><span class="sr-only">Actions</span></th>
                        </tr>
                        <tr class="{% if theme.mode == 'Light' %} border-b border-slate-400 {% else %} border-b border-zinc-600 {% endif %}">
                            <th scope="col" class="px-4 py-3">Product name</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Manufacturer</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3"><span class="sr-only">Actions</span></th>
                        </tr>
                        <tr class="{% if theme.mode == 'Light' %} border-b border-slate-400 {% else %} border-b border-zinc-600 {% endif %}">
                            <th scope="col" class="px-4 py-3">Product name</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Manufacturer</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3"><span class="sr-only">Actions</span></th>
                        </tr>
                        <tr class="{% if theme.mode == 'Light' %} border-b border-slate-400 {% else %} border-b border-zinc-600 {% endif %}">
                            <th scope="col" class="px-4 py-3">Product name</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Manufacturer</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3"><span class="sr-only">Actions</span></th>
                        </tr>
                        <tr class="{% if theme.mode == 'Light' %} border-b border-slate-400 {% else %} border-b border-zinc-600 {% endif %}">
                            <th scope="col" class="px-4 py-3">Product name</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Manufacturer</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3"><span class="sr-only">Actions</span></th>
                        </tr>
                        <tr class="{% if theme.mode == 'Light' %} border-b border-slate-400 {% else %} border-b border-zinc-600 {% endif %}">
                            <th scope="col" class="px-4 py-3">Product name</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Manufacturer</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3"><span class="sr-only">Actions</span></th>
                        </tr>
                        <tr class="{% if theme.mode == 'Light' %} border-b border-slate-400 {% else %} border-b border-zinc-600 {% endif %}">
                            <th scope="col" class="px-4 py-3">Product name</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Manufacturer</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3"><span class="sr-only">Actions</span></th>
                        </tr>
                        <tr class="{% if theme.mode == 'Light' %} border-b border-slate-400 {% else %} border-b border-zinc-600 {% endif %}">
                            <th scope="col" class="px-4 py-3">Product name</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Manufacturer</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3"><span class="sr-only">Actions</span></th>
                        </tr>
                        <tr class="{% if theme.mode == 'Light' %} border-b border-slate-400 {% else %} border-b border-zinc-600 {% endif %}">
                            <th scope="col" class="px-4 py-3">Product name</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Manufacturer</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3"><span class="sr-only">Actions</span></th>
                        </tr>
                        <tr class="{% if theme.mode == 'Light' %} border-b border-slate-400 {% else %} border-b border-zinc-600 {% endif %}">
                            <th scope="col" class="px-4 py-3">Product name</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Manufacturer</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3"><span class="sr-only">Actions</span></th>
                        </tr>
                        <tr class="{% if theme.mode == 'Light' %} border-b border-slate-400 {% else %} border-b border-zinc-600 {% endif %}">
                            <th scope="col" class="px-4 py-3">Product name</th>
                            <th scope="col" class="px-4 py-3">Category</th>
                            <th scope="col" class="px-4 py-3">Manufacturer</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3"><span class="sr-only">Actions</span></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}