{% extends 'core/base.html' %}
{% block title %}Inventory{% endblock %}
{% block background %}{{ theme.body }}{% endblock %}
{% block nav %}{{ theme.nav }}{% endblock %}
{% block hover1 %}{{ theme.hover }}{% endblock %}
{% block hover2 %}{{ theme.hover }}{% endblock %}
{% block hover3 %}{{ theme.hover }}{% endblock %}
{% block hover4 %}{{ theme.hover }}{% endblock %}
{% block hover5 %}{{ theme.hover }}{% endblock %}
{% block hover6 %}{{ theme.hover }}{% endblock %}
{% block hover7 %}{{ theme.hover }}{% endblock %}
{% block body %}
<div class="container mx-auto">
    <div class="py-40 text-7xl font-bold text-center">
        Browse through recent inventory.
    </div>
</div>
<div class="w-10/12 mx-auto block sm:container py-4">
    <div class="sm:flex sm:justify-between sm:space-x-2 md:space-x-3">
        <a href="{% url 'inventory:add' %}" class="block py-20 text-3xl text-center sm:text-base m-auto mt-6 sm:p-4 sm:m-0 w-full font-semibold rounded-md shadow-md {% if theme.mode == 'Light' %} bg-slate-400 hover:bg-slate-200 {% else %} bg-zinc-700 hover:bg-zinc-400 {% endif %} transition ease-in-out">
            Add
        </a>
        <a href="{% url 'inventory:create' %}" class="block py-20 text-3xl text-center sm:text-base m-auto mt-6 sm:p-4 sm:m-0 w-full font-semibold rounded-md shadow-md {% if theme.mode == 'Light' %} bg-slate-400 hover:bg-slate-200 {% else %} bg-zinc-700 hover:bg-zinc-400 {% endif %} transition ease-in-out">
            Create
        </a>
        <a href="/" class="block py-20 text-3xl text-center sm:text-base m-auto mt-6 sm:p-4 sm:m-0 w-full font-semibold rounded-md shadow-md {% if theme.mode == 'Light' %} bg-slate-400 hover:bg-slate-200 {% else %} bg-zinc-700 hover:bg-zinc-400 {% endif %} transition ease-in-out">
            Edit
        </a>
        <a href="{% url 'inventory:logs' %}" class="block py-20 text-3xl text-center sm:text-base m-auto mt-6 mb-10 sm:mb-0 sm:p-4 sm:m-0 w-full font-semibold rounded-md shadow-md {% if theme.mode == 'Light' %} bg-slate-400 hover:bg-slate-200 {% else %} bg-zinc-700 hover:bg-zinc-400 {% endif %} transition ease-in-out">
            Logs
        </a>
    </div>
</div>
<section class="container mx-auto">
    <div class="{% if theme.mode == 'Light' %} bg-slate-200 {% else %} bg-zinc-800 {% endif %} rounded-lg">
        <div class="relative shadow-md">
            <div class="overflow-x-auto rounded-lg">
                <table class="w-full text-sm text-left">
                    <thead class="text-xs uppercase m-auto {% if theme.mode == 'Light' %} bg-slate-400 {% else %} bg-zinc-700 {% endif %} ">
                        <tr class="">
                            <th scope="col" class="px-6 py-3 text-center">Product name</th>
                            <th scope="col" class="px-6 py-3 text-center">Category</th>
                            <th scope="col" class="px-6 py-3 text-center">Quantity</th>
                            <th scope="col" class="px-6 py-3 text-center">Price</th>
                            <th scope="col" class="px-6 py-3 text-center">Total</th>
                            <th scope="col" class="px-6 py-3 text-center"><span class="sr-only">Actions</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for part in inventory %}
                        <tr class="">
                            <th scope="col" class="px-6 py-3 text-center">{{ part.partname }}</th>
                            <th scope="col" class="px-6 py-3 text-center">{{ part.category }}</th>
                            <th scope="col" class="px-6 py-3 text-center">{{ part.quantity }}</th>
                            <th scope="col" class="px-6 py-3 text-center">{{ part.usd }}</th>
                            <th scope="col" class="px-6 py-3 text-center">{{ part.total }}</th>
                            <th scope="col" class="px-6 py-3 text-center"><span class="sr-only">Actions</span></th>
                        </tr>
                        {% endfor %}
                    <tfoot class="">
                        <tr class="">
                            <th scope="col" class="px-6 py-3 text-center">SUM:</th>
                            <th scope="col" class="px-6 py-3 text-center"></th>
                            <th scope="col" class="px-6 py-3 text-center"></th>
                            <th scope="col" class="px-6 py-3 text-center"></th>
                            <th scope="col" class="px-6 py-3 text-center">{{ total }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}