{% extends 'core/base.html' %}
{% block title %}Inventory{% endblock %}
{% block background %}{{ theme.body }}{% endblock %}
{% block nav %}{{ theme.nav }}{% endblock %}
{% block hover1 %}{{ theme.hover }}{% endblock %}
{% block hover2 %}{{ theme.hover }}{% endblock %}
{% block hover3 %}{{ theme.hover }}{% endblock %}
{% block hover4 %}{{ theme.hover }}{% endblock %}
{% block hover5 %}{{ theme.hover }}{% endblock %}
{% block hover6 %}{{ theme.hover }}{% endblock %}
{% block hover7 %}{{ theme.hover }}{% endblock %}
{% block body %}
<div class="h-96 flex {% if theme.mode == 'Light' %} bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 {% else %} bg-zinc-700 {% endif %}">
    <div class="m-auto text-center text-2xl lg:text-3xl xl:text-5xl font-bold">
        Find everything to do with inventory here.
    </div>
</div>
<div class="container mx-auto pt-32 pb-10">
    <div class="text-xl sm:text-3xl text-center font-semibold">
        Choose where to start:
    </div>
</div>
<div class="w-10/12 md:w-7/12 lg:w-1/2 xl:w-10/12 2xl:w-7/12 mx-auto py-10">
    <div class=" xl:flex xl:flex-row xl:space-x-12 ">
        <a href="{% url 'inventory:stock' %}" class="xl:basis-1/3 block p-14 my-10 hover:p-16 h-80 {% if theme.mode == 'Light' %} text-slate-100 bg-gradient-to-r from-violet-500 to-blue-500 hover:from-yellow-500 hover:to-pink-500 {% else %} bg-zinc-800 hover:bg-zinc-600 {% endif %} rounded-xl transition ease-in-out delay-150">
            <h1 class="text-2xl font-bold ">Browse inventory</h1>
            <p class="pt-4 ">Browse through parts in inventory. Check and see if the part you're looking for is available.</p>
        </a>
        <a href="{% url 'inventory:checkout' %}" class="xl:basis-1/3 block p-14 my-10 hover:p-16 h-80 {% if theme.mode == 'Light' %} text-slate-100 bg-gradient-to-r from-violet-500 to-blue-500 hover:from-yellow-500 hover:to-pink-500 {% else %} bg-zinc-800 hover:bg-zinc-600 {% endif %} rounded-xl transition ease-in-out delay-150">
            <h1 class="text-2xl font-bold">Checkout inventory</h1>
            <p class="pt-4 ">Remove parts from inventory. Any changes will be logged and available to see later on.</p>
        </a>
        <a href="{% url 'inventory:edit' %}" class="xl:basis-1/3 block p-14 my-10 hover:p-16 h-80 {% if theme.mode == 'Light' %} text-slate-100 bg-gradient-to-r from-violet-500 to-blue-500 hover:from-yellow-500 hover:to-pink-500 {% else %} bg-zinc-800 hover:bg-zinc-600 {% endif %} rounded-xl transition ease-in-out delay-150">
            <h1 class="text-2xl font-bold">Edit inventory</h1>
            <p class="pt-4 ">Change any information of parts in inventory.</p>
        </a>
    </div>
</div>


{% endblock %}